<header>
    <div class="topnav">
        <a class="navbar-brand" routerLinkActive="active">Angular Router</a>
        <ul class="nav navbar-nav">
            <a class="nav-link" routerLink="" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="nav-link" routerLink="sub" routerLinkActive="active">Subject</a>
            <a class="nav-link" routerLink="pipe" routerLinkActive="active">Pipe</a>
            <a class="nav-link" routerLink="hiring" routerLinkActive="active">Hiring</a>
            <a class="nav-link" routerLink="to-do" routerLinkActive="active">To-Do</a>
            <a class="nav-link" routerLink="addphoto" routerLinkActive="active">Photos</a>
            <a class="nav-link" routerLink="library" routerLinkActive="active">Library</a>
            <a class="nav-link" routerLink="resto" routerLinkActive="active">Restaurant</a>
            <a class="nav-link" routerLink="cart" routerLinkActive="active">Shopping Cart</a>
            <a class="nav-link" routerLink="student" routerLinkActive="active">Student</a>

        </ul>
    </div>
</header>